.makeArt {
    height: 30vh;
    @include flexer;
    background:black;
    .generateContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        height: 25vh;
        h2 {
            font-family: Baskervville;
            font-size: 2.5rem;
            text-align: center;
            padding: 5px 0;
            color: white;
        }
        h3 {
            margin: 0;
            font-family: Baskervville;
            color: white;
            font-size: 2.5rem;
            text-align: center;
            padding: 10px 0;
            border: $platinum solid 3px;
            border-radius: 2px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        img {
            max-width:150px;
        }
        img:hover {
            animation: spin 0.5s infinite linear;
        }
        button {
            color: $platinum;
            letter-spacing: 2px;
            display: inline-block;
            font-size: 1.8rem;
            font-weight: bold;
            margin: 8px;
            border: $platinum solid 3px;
            border-radius: 2px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-transform: capitalize;
            padding: 6px 11px;
            font-family: 'Muli', sans-serif;
            background: rgba(14, 62, 54, 1);
        }           
        button:hover,
        button:focus {
            border: rgba(14, 62, 54, 1) solid 3px;
            color: rgba(143, 205, 163, 1);
        }
    }
}

@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

.preloader {
    width: 100%;
    height: 100vh;
    @include flexer;
    img {
        width:30%
    }
}

.individualPainting {
    width: 100%;
    background: linear-gradient(130deg, $darkgreen, #041815);
    display: flex;
    flex-direction: column;
    align-items: center;
    .backgroundArt {
        width: 100%;
        background-position: center;
        background-size: cover;
        padding: 10vh 0;
        background-image: url('../image/backgroundImg.png');
        // .parallax {
        //   margin-top: 10vh;
        // }
    }
}


.artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border:solid 2px;
        border-bottom-color:#ffe;
        border-left-color:#eed;
        border-right-color:#eed;
        border-top-color:#ccb;
        max-height:100%;
        max-width:100%;
    }
    .frame {
        background-color:#ddc;
        border:solid 5vmin #eee;
        border-bottom-color:#fff;
        border-left-color:#eee;
        border-radius:2px;
        border-right-color:#eee;
        border-top-color:#ddd;
        box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
        box-sizing:border-box;
        display:inline-block;
        margin-top:10vh;
        height:80vh;
        padding:8vmin;
        position:relative;
        text-align:center;
        &:before {
            border-radius:2px;
            bottom:-2vmin;
            box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
            content:"";
            left:-2vmin;
            position:absolute;
            right:-2vmin;
            top:-2vmin;
        }
        &:after {
            border-radius:2px;
            bottom:-2.5vmin;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
            content:"";
            left:-2.5vmin;
            position:absolute;
            right:-2.5vmin;
            top:-2.5vmin;
        }
    }
}

.info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        margin: 0;
        font-family: Baskervville;
        color: $platinum;
        font-size: 3rem;
        text-align: center;
    }
    h3 {
        font-family: Baskervville;
        color: $platinum;
        margin-top: 10px;
        padding: 5px 0;
        font-size: 2rem;
        text-align: center;
        border-top: $gold solid 1px;
    }
}

@media (max-width: 800px) {
    .preloader {
        img {
            width:70%
        }
}

    .artwork {
        img {
            max-height: 300px;
        }
        .frame {
            height: auto;
        }
    }
    .info {
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}

// @media (max-width: 600px) {

//     .individualPainting {
//         .backgroundArt {
//             padding-bottom: 200vh;
//             .parallax {
//                 margin-top: 250vh;
//             }
//         }
//     }
// }

// @media (max-width: 400px) {

//     .individualPainting {
//         .backgroundArt {
//             padding-bottom: 180vh;
//             .parallax {
//                 margin-top: 220vh;
//             }
//         }
//     }
// }