
.sectionOne {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0.9)), url('../image/sectionOneBack.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $platinum;
}

.sectionOne form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandsContainer {
  width: 95%;
  padding: 10px 5%;
}

.brandsContainer button {
  background: rgba(14, 62, 54, 1);
  color: $platinum;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 8px;
  border: $platinum solid 3px;
  border-radius: 2px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: capitalize;
  padding: 6px 11px;
  font-family: 'Muli', sans-serif;
}

.brandsContainer button:hover,
.brandsContainer button:focus {
  border: rgba(14, 62, 54, 1) solid 3px;
  color: rgba(143, 205, 163, 1);
}

img {
  width: 100%;
}

input[type="search"] {
  background-color: rgba(14, 62, 54, 0.8);
  border: none;
  border: 3px solid $platinum;
  border-image: linear-gradient(0deg, rgba(14, 62, 54, 0.8), rgba(143, 205, 163, 1), rgba(255,255,255,1)) 1;
  font-size: 2.8rem;
  color: $platinum;
  padding: 8px 15px;
  position: relative;
  top: -50px;
}

input[type="search"]:focus {
  background-color: rgba(14, 62, 54, 0.4);
}
button.submitButton:focus { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.errorMessage {
  text-align: center;
  font-size: 2.2rem;
  position: relative;
  top: -20px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.titleText {
  background: url("../image/title-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 25px;
  margin-right: 50px;
  padding: 30px 30px 85px 5px;
}
.title h1 {
  font-family: 'Monoton', cursive;
  font-size: 155px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  line-height: 1;
  padding: 40px 10px;
  letter-spacing: 5px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(-30deg, rgba(14, 62, 54, 0.8), rgba(143, 205, 163, 1), rgba(255,255,255,1)) 1;
  text-shadow: 5px 5px 5px $darkgreen;
}

.h1 {
  display: block;
  font-size: 28px;
  transform: rotate(90deg);
  position: absolute;
  right: -130px;
  bottom: 50%;
  line-height: 0;
}
