.App {
    text-align: center;
}

html{
    font-size: 62.5%;
}

.sectionTwoWrapper{
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

.sectionTwo{
    background-image: url("../image/brushes.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionTwo h1{
    font-family: 'muli', cursive;
}
.sectionTwo h3{
    font-size: 2.5rem;
    // padding: 0 30px;
}

.pallette {
    max-width: 900px;
    margin: 0 auto;
}

.arrowButton{
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.arrowLeft{
    transform: rotate(90deg);
    top: 20%;
    left: 40px;
}

.arrowRight{
    transform: rotate(-90deg);
    top: 20%;
    right: 40px;
}

.makeUpInfo{
    background-image: url("../image/productTop.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: green;
    padding: 40px 0;
    width: 600px;
    margin: 0 auto;
    .makeUpImg{
        img{
            height:164px;
            width: 138px;
            display: block;
        }
    }
}

.makeUpColors{
background-image: url("../image/productBottom.png");
background-size: contain;
background-position: top center;
background-repeat: no-repeat;
width: 600px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;

}

.colorButton{
    width: 74px;
    height: 100%;
    height: 222px;
    border-radius: 20px;
    margin: 27px 2px 0;
    border: none;
    box-shadow: inset -1px 5px 15px -1px rgba(0,0,0,0.67);
    border: 2px solid white;
    &:hover{
    filter: brightness(130%);
}
}