.App {
    text-align: center;
}

html{
    font-size: 62.5%;
}

.sectionTwoWrapper{
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

.sectionTwo{
    background-image: url("../image/brushes.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .preloader {
        background: #dad2e6;
    }
}

.sectionTwo h2{
    font-family: 'muli', cursive;
    span{
        text-transform: capitalize;
    }
    margin: 40px 0;
}
.sectionTwo h3{
    font-size: 2.5rem;
    // padding: 0 30px;
}

.pallette {
    max-width: 900px;
    margin: 0 auto;
}

.arrowButton{
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.arrowLeft{
    transform: rotate(90deg);
    top: 20%;
    left: 40px;

    @media (max-width: 500px) {
       left: 10px;
    } 
}

.arrowRight{
    transform: rotate(-90deg);
    top: 20%;
    right: 40px;

    @media (max-width: 500px) {
        right: 10px;
    } 
}

.makeUpInfo{
    background-image: url("../image/productTop.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: green;
    padding: 40px 0;
    width: 600px;
    margin: 0 auto;
    .makeUpImg{
        img{
            height:164px;
            width: 138px;
            display: block;
        }
    }

    @media (max-width: 780px) {
        background: #ffffff;
        border-radius: 25px 25px 0 0;
        border: 10px solid $darkgreen;
        width: auto;
    } 
    
    
    
}

.makeUpColors{
background-image: url("../image/productBottom.png");
background-size: contain;
background-position: top center;
background-repeat: no-repeat;
width: 600px;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;

    @media (max-width: 780px) {
        background: darken($darkgreen, 6%);
        border-radius: 0 0 25px 25px;
        border: 10px solid $darkgreen;
        height: auto;
        width: auto;
        margin: auto;
    }  

    @media (max-width: 400px) {
        flex-wrap: wrap;
    } 

}

.colorButton{
    width: 74px;
    height: 100%;
    height: 222px;
    border-radius: 20px;
    margin: 27px 2px 0;
    border: none;
    box-shadow: inset -1px 5px 15px -1px rgba(0,0,0,0.67);
    border: 2px solid white;
    @media (max-width: 780px) {
        margin: auto;
        &:last-of-type {
            margin-right: 0;
        }
        &:first-of-type {
            margin-left: 0;
        }
    } 

    @media (max-width: 400px) {
        height: 100px;
        width: 100px;
        margin: 2px;

        &:last-of-type {
            width: 310px;
        }
    } 

    @media (max-width: 370px) {
        height: 100px;
        width: 48%;
        margin: 2px;

        &:last-of-type {
            width: 310px;
        }
    }

    &:hover{
    filter: brightness(130%);
}
}


