.App {
  text-align: center;
}

/* .colorButton{

} */

.sectionTwo{
  background-image: url(./assets/brushes.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

